footer {
  padding: 2rem;
  background-color: var(--clr-bg);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: var(--content-max-width);
  margin: auto;
}

footer .footer p {
  margin: 0;
}
