footer .footer {
  --footer-bg: var(--clr-blue-700);
  --footer-text: var(--clr-white);
  --footer-separator: rgb(218 218 221 / 15%);

  background-color: var(--footer-bg);
  color: var(--footer-text);
}

footer .footer  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer  a:any-link {
  color: var(--footer-text);
}

footer .footer p {
  margin: 0;
}

footer .footer a:focus {
  box-shadow: 0 0 0 1px var(--clr-blue-700), 0 0 0 3px var(--clr-white);
}

footer .footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer .footer .footer-content .section {
  margin: 8px 0;
  width: 100%;
}

/* logo */
footer .footer .footer-content .footer-logo.section {
  --logo-width: 264px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--footer-separator);
  position: relative;
  padding-bottom: 32px;
  margin: 1rem 0;
}

footer .footer .footer-logo .icon {
  width: var(--logo-width);
  height: 60px;
}

footer .footer .footer-logo::before,
footer .footer .footer-logo::after {
  content: '';
  position: absolute;
  left: 0;
  right: calc(50% + (var(--logo-width) / 2));
  height: 1px;
  background-color: white;
}

footer .footer .footer-logo::after {
  right: 0;
  left: calc(50% + (var(--logo-width) / 2));
}

/* nav */
footer .footer .footer-content .footer-nav.section {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--footer-separator);
}

footer .footer .footer-nav .nav-drop:not(:last-child) {
  border-bottom: 1px solid var(--footer-separator);
}

footer .footer .footer-nav .nav-drop button {
  width: 100%;
  background: none;
  border: none;
  color: var(--clr-white);
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: var(--body-font-family);
  margin-block: 12px;
  position: relative;
}

footer .footer .footer-nav .nav-drop button::before,
footer .footer .footer-nav .nav-drop button::after {
  content: "";
  position: absolute;
  background: var(--clr-white);
  display: block;
  height: 2px;
  top: 50%;
  transition: rotate .5s;
  width: 8px;
}

footer .footer .footer-nav .nav-drop button::before {
  right: 5px;
  rotate: 45deg;
}

footer .footer .footer-nav .nav-drop button::after {
  right: 0;
  rotate: -45deg;
}

footer .footer .footer-nav .nav-drop button[aria-expanded="true"]::before {
  rotate: -45deg;
}

footer .footer .footer-nav .nav-drop button[aria-expanded="true"]::after {
  rotate: 45deg;
}

footer .footer .footer-nav .nav-drop > ul {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-block: 1rem;
  max-height: 100%;
  overflow: visible;
  transition: max-height .3s ease;
}

footer .footer .footer-nav .nav-drop > ul > li {
  margin-top: 12px;
}

footer .footer .footer-nav .nav-drop > ul > li a {
  text-decoration: none;
}

footer .footer .footer-nav .nav-drop > button[aria-expanded="false"] + ul {
  max-height: 0;
  overflow: hidden;
  margin-block: 0;
}

/* social */

/* stylelint-disable-next-line no-descending-specificity */
footer .footer .footer-social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 1rem;
}

footer .footer .footer-social .icon {
  width: 28px;
  height: auto;
}

footer .footer .footer-social .icon.icon-tripadvisor {
  width: 120px;
}

/* legal links */

/* stylelint-disable-next-line no-descending-specificity */
footer .footer .footer-legal ul {
  margin-block: 1rem;
  width: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
footer .footer .footer-legal ul > li {
  margin-top: 6px;
  font-size: 14px;
  width: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
footer .footer .footer-legal ul > li > a {
  text-decoration: none;
  display: block;
}

/* copyright */
footer .footer .footer-copyright.section {
  margin-top: 1rem;
}

/* stylelint-disable-next-line no-descending-specificity */
footer .footer .footer-copyright p,
footer .footer .footer-copyright a {
  font-size: 14px;
  color: #8d88b4;
  text-decoration: none;
}

/* legal logos */
footer .footer .footer-logos > .default-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer .footer .footer-logos p {
  display: inline-block;
}

footer .footer .footer-logos .icon-globalsign-secure {
  width: 70px;
  height: auto;
}
